* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*colore*/
:root {
  --caliz-red: #5E2129;
  --caliz-green: #7FA099;
  --caliz-cream: #F2EBE1;
  --caliz-bronze: #8B6B3D;
  --caliz-dark: #2A1215;
  --caliz-brown: #3C1F1F;
}

body {
  background: var(--caliz-dark);
  color: var(--caliz-cream);
  font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
  min-height: 100vh;
}

::selection {
  background: var(--caliz-red);
  color: var(--caliz-cream);
}